:root {
	--base-font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--base-font-size: 16px;
	--base-font-weight: normal;
	--base-line-height: 1.7;
	--pre-font-family: var(--code-font-family);
	--pre-font-size: var(--code-font-size);
	--pre-font-weight: normal;
	--small-font-size: var(--font-size-s);
	--strong-font-weight: 600;
	--subsup-font-size: var(--font-size-s);
	--code-font-family: Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	--code-font-size: calc(var(--font-size-m) * 0.95);
	--code-font-weight: normal;

	--heading-h1-border-width: 0 0 0 0;
	--heading-h1-border-color: var(--heading-h2-border-color);
	--heading-h1-margin: 0 0 2rem 0;
	--heading-h2-border-width: 1px 0 0 0;
	--heading-h2-padding: 1rem 0 0 0;
	--heading-h1-font-weight: 700;
	--heading-h2-font-weight: 700;
	--heading-h3-font-weight: 700;
	--heading-h4-font-weight: 500;
	--heading-h5-font-weight: 500;
	--heading-h1-font-size: var(--font-size-xxxl);
	--heading-h2-font-size: var(--font-size-xxl);
	--heading-h3-font-size: var(--font-size-xl);
	--heading-h4-font-size: var(--font-size-l);
	--heading-h5-font-size: var(--font-size-m);
	--heading-h6-font-size: var(--font-size-s);
	--heading-color: var(--base-color);

	--sidebar-nav-strong-padding: 0;
	--sidebar-nav-strong-margin: 2.5em 0 0.3em -20px;
	--sidebar-nav-pagelink-padding: 0.25em 0 0.25em 10px;

	--pagination-label-font-size: var(--font-size-xs);
	--pagination-title-font-size: var(--font-size-m);
	--link-color: var(--theme-color);
	--link-text-decoration-color: var(--link-color);

	--modular-scale: 1.3;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4{
	line-height: 1.2;
	padding-bottom: 0.2rem;
}

strong{
	color: inherit;
}

.pagination-item--next {
	justify-content: left!important;
	text-align: left!important;
}

.pagination-item-title {
	text-decoration: none!important;
	color: inherit!important;
}

.page-link {
	display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;

    width: 100%;
    padding: 12px;
    margin: 8px;

	border: 1px solid var(--mono-tint2);
    border-radius: 4px;
    box-shadow: 0px 1px 2px var(--mono-tint2);
    background-color: var(--base-background-color);

    color: var(--base-color);
    font-size: var(--font-size);
}

.page-link > a {
	width: 100%;
	text-decoration: none;
}

.pagination-item-label {
	color: var(--base-color)!important;
}

.pagination-item:hover, .page-link{
	background-color: var(--code-theme-background);
	border-color: var(--theme-color);
	color: var(--theme-color);
	cursor: pointer;
}

.pagination-item {
	border: 1px solid var(--mono-tint2);
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px var(--mono-tint2);
    width: calc(50% - 16px);
    align-items: center;
    justify-content: right;
    text-align: right;
    display: flex;
    margin: 8px;
}

.pagination-item a {
	width: 100%;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.open::before{
	border-color: var(--theme-color);
}
.sidebar-nav ul:not(.app-sub-sidebar)>li:not(.file)::before{
	top: 0.85rem;
}

.sidebar-nav li{
	margin-left: 10px;
}

.sidebar-nav ul > li > strong {
	border: none;
	margin-left: -10px;
	cursor: default;
}

.sidebar-nav li.open:not(.collapse) > ul {
	border-left: 1px solid var(--mono-tint2);
}

.app-sub-sidebar a{
	font-size: 13px;
}

.sidebar-nav li.collapse>a[href^="/"]:not([href*="?id="]):not(:only-child), .sidebar-nav li.collapse>a[href^="#/"]:not([href*="?id="]):not(:only-child){
	background-image: none;
}
.sidebar-nav li.active>a[href^="/"]:not([href*="?id="]):not(:only-child), .sidebar-nav li.active>a[href^="#/"]:not([href*="?id="]):not(:only-child){
	background-image: none;
}
.sidebar-nav li>a[href^="/"]:not([href*="?id="]):only-child, .sidebar-nav li>a[href^="#/"]:not([href*="?id="]):only-child{
	background-image: none;
}
.sidebar-nav li>a[href^="/"]:not([href*="?id="]):not(:only-child), .sidebar-nav li>a[href^="#/"]:not([href*="?id="]):not(:only-child){
	background-image: none;
}

li.open > ul > li.file > a {
	background-image: none!important;
	white-space: normal!important;
	font-size: 13px;
	margin-left: -10px;
}

li.open > ul > li.file.active > a {
    background-color: var(--base-background-color);
    border-width: 1px 0 1px 0;
}

li.open > ul > li.file > a:hover {
    background-color: var(--base-background-color);
    text-decoration: none;
}

.app-sub-sidebar li.active > a {
    background-color: var(--base-background-color);
    border-width: 1px 0 1px 1px;
    border-color: var(--mono-tint2);
}


.sidebar-nav li > a:hover {
    background-color: var(--base-background-color);
    text-decoration: none;
}

.sidebar-nav li.open li.active>a, .sidebar-nav li.open li.collapse>a {
	border: none;
	color: inherit;
}

.sidebar-nav li.active > a, .sidebar-nav li.open > a {
	border-right: 4px solid var(--theme-color);
	color: var(--theme-color);
	border-bottom: 1px solid var(--mono-tint2);
}

.sidebar-nav li.active > a:only-child, .sidebar-nav li.open > a:only-child{
	border-bottom: none;
}

.docsify-tabs__tab{
	cursor: pointer;
}

.docsify-tabs__tab--active{
	cursor: default;
}

.toc-nav{
	font-size: 0.85rem;
}

.page_toc div {
	border-left-width: 1px!important;
}

.page_toc div.active {
	border-left-width: 2px!important;
}

.page_toc div.active a span{
	color: var(--theme-color)!important;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}